<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{partial "head/includes.html" .}}
</head>
<body class="nav-closed">
  {{partial "navigation.html" .}}

  <div class="site-wrapper">
    {{$paginator := .Paginate (where .Data.Pages "Section" "!=" "author")}}

    {{/*
         we only show the fullscreen cover if we are on the first page
         (otherwise it gets very confusing for the user, who needs to scroll
         in order to see more content)
    */}}
    {{if eq $paginator.PageNumber 1}}
      {{partial "covers/landing.html" .}}
    {{else}}
      {{partial "covers/paging.html" .}}
    {{end}}

    <main id="content" class="content" role="main">
      {{range $index, $page := $paginator.Pages}}
        {{partial "li.html" .}}
      {{end}}

      <!--{{partial "pagination.html" $paginator}}-->
    </main>

    {{partial "footer.html" .}}

  </div>

  {{partial "scripts.html" .}}
</body>
</html>
