{{$rss_link := or .Site.Params.RSSLink .RSSLink}}
<nav class="main-nav overlay clearfix">
{{if .Site.Params.logo}}
<a class="blog-logo" href="/">
  <img src="{{.Site.Params.logo}}" alt="" />
</a>
{{end}}

<!--{{if .Site.Menus.main}}-->
<!--<a class="menu-button" href="#">-->
  <!--<span class="burger">&#9776;</span>-->
  <!--<span class="word">Menu</span>-->
<!--</a>-->
<!--{{else if $rss_link}}-->
<!--<a class="menu-button icon-feed" href="{{$rss_link}}">-->
  <!--Subscribe-->
<!--</a>-->
<!--{{end}}-->
</nav>
